@import '../layout/$layout.css';
@import '../typhography/$typhography.css';

trds-tag{
    background-color: var(--color--accent);
    border-radius: 50px;
    box-sizing: border-box;
    padding: var(--space--xs) var(--space--s);
    font-size: var(--size--xs);
    font-weight: bold;
}

trds-tag.outline{
    box-shadow: inset 0 0 0 2px currentColor;
    background-color: transparent;
}