trds-card{
    background-color: var(--color--secondary-bg);
    display: flex;
    flex-direction: column;
}

trds-card__media{
    display: block;
}

trds-card__body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: var(--space--l);
}

trds-card__footer{
    box-sizing: border-box;
    display: block;
    padding: var(--space--l);
    padding-top: 0;
}